Django
django-extensions
flake8
flake8-builtins
flake8-print
python-dotenv
crispy-bootstrap5
django-crispy-forms
Celery
requests
django-filter
ipython
djangorestframework
djangorestframework-simplejwt
drf-yasg
pytest