Django~=4.2.4
django-extensions
flake8
flake8-builtins
flake8-print
python-dotenv~=1.0.0
crispy-bootstrap5
django-crispy-forms
Celery~=5.3.1
requests~=2.31.0
django-filter~=23.2
ipython
djangorestframework~=3.14.0
djangorestframework-simplejwt
drf-yasg
pytest~=7.4.0
pytest-django
model_bakery
pytest-cov
pytest-mock
pretty-errors
gunicorn
psycopg2-binary
flower

beautifulsoup4~=4.12.2