<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Currency</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">


                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Contacts
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'contacts_json' %}">JSON</a></li>
                        <li><a class="dropdown-item" href="{% url 'contacts_table' %}">Table</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'contact_create' %}">Add Contact</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Rates
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'rates_json' %}">JSON</a></li>
                        <li><a class="dropdown-item" href="{% url 'rates_table' %}">Table</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href={% url 'rate_create' %}>Add Rate</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Sources
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'sources_table' %}">Table</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href={% url 'source_create' %}>Add Source</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link silent" aria-current="page" href="{% url 'middlewarelog_list' %}">
                        Middleware Logs</a>
                </li>

               

            </ul>
            <div style="margin: 5px;">
                {% if user.is_authenticated %}

                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Profile
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <button class="dropdown-item" type="button">Action</button>
                      <button class="dropdown-item" type="button">Another action</button>
                      <button class="dropdown-item" type="button">Something else here</button>
                    </div>
                  </div>

                  

                <a href="{% url 'logout' %}" type="button" class="btn btn--outline-secondary"
                   style="margin-right: 10px">
                    Log Out</a>

                {% else %}

                <a href="{% url 'login' %}" type="button" class="btn btn-primary"
                   style="margin-right: 10px">
                    Log In</a>
                <a type="button" class="btn btn-outline-primary">Sign Up</a>

                {% endif %}
            </div>
        </div>
    </div>
</nav>

