.header {
    text-align: center;
}

.table-div {
    text-align: center;
    margin-top: 30px;
}

.alert {
    margin-top: 30px;
    text-align: center;
}

a { 
    text-decoration: none;
}

.delete {
    color: red;
}

body {
    text-align: center;
}

#new-contact {
    margin-top: 40px;
}