{% extends 'currency/base.html' %}

{% block title %}Password Reset{% endblock title %}

{% block content %}

<div class="col-md-7 offset-md-3">
    <div>
        <h1>Reset your password</h1>
    </div><br>

    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% for error in form.non_field_errors %}
            <strong>{{ error }}</strong>
        {% endfor %}
        {% for field in form %}
            {% for error in field.errors %}
            <strong> {{ error }}</strong>
            {% endfor %}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}


<div>
    <form method="post">
        {% csrf_token %}
       
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" placeholder="Enter your email"><br>

        <label for="exampleInputEmail1" class="form-label">New Password</label>
        <input type="password" class="form-control" name="password1" placeholder="Enter new password"><br>

        <label for="exampleInputEmail1" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" name="password2" placeholder="Confirm new password"><br>

        <button type="submit" class="btn btn-outline-success btn">Submit</button>
       
    </form>
</div>
</div>
{% endblock content %}
