{%extends 'currency/base.html'%} 
{% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static 'currency/css/table.css' %}" />
{% endblock%} 

{%block title%}Contacts Table{%endblock title%}

{% block content %}

<div class="header">
  <h2>Contacts Table</h2>
</div>

{% if contacts|length > 0 %}

<div class="table-div">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Email</th>
        <th scope="col">Subject</th>
        <th scope="col">Message</th>
        {% if user.is_authenticated %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for contact in contacts %}

      <tr>
        <th scope="row">{{contact.id}}</th>
        <td>{{contact.email_from}}</td>
        <td>{{contact.subject}}</td>
        {% if contact.message|length > 20 %}
        <td>{{contact.message|slice:":20"}}...</td>
        {% else %}
        <td>{{contact.message}}</td>
        {% endif %}
        {% if user.is_authenticated %}
        <td>
            <div>
          <a class="edit" href="{% url 'contact_update' contact.id%}">Edit</a>
          <base>|</base>
          <a class="delete" href="{% url 'contact_delete' contact.id%}">Delete</a>
        </div>
        </td>
        {% endif %}
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>

{% else %}

<div class="alert alert-info" role="alert">Table is empty</div>

{% endif %} 

{% if user.is_authenticated %}
<a href="{% url 'contact_create' %}"><button type="button" id="new-contact" class="btn btn-primary btn-lg">
    Contact Us
</button></a>
{% endif %}

    {% include "currency/includes/pagination.html" %}

{%endblock content%}
