{%extends 'currency/base.html'%}
{% load crispy_forms_tags %}
{% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static 'currency/css/form.css' %}" />
{% endblock%}

{%block title%}Edit Contact{%endblock title%}

{% block content %}

<div class="header">
  <h2>Edit Contact with id ({{id}})</h2>
</div>

<div class="form-div">
  <form method="post">
    {% csrf_token %} 
    {{ form|crispy }}
    <button type="submit" class="btn btn-outline-secondary btn-lg">Submit</button>
  </form>
</div>

{%endblock content%}
