{% extends 'currency/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'currency/css/table.css' %}">
{% endblock %}


{% block title %}Rates Table{% endblock title %}


{% block content %}

    <div class="header">
        <h2>Rates Table</h1>
    </div>

    {% if rates|length > 0 %}

        <div class="table-div">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Buy</th>
                    <th scope="col">Sell</th>
                    <th scope="col">Source</th>
                    <th scope="col">Rate at</th>
                    {% if user.is_authenticated %}
                        <th scope="col">Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>

                {% for rate in rates %}

                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ rate.get_currency_display }}</td>
                        <td>{{ rate.buy }}</td>
                        <td>{{ rate.sell }}</td>
                        {% if rate.source %}
                            <td>{{ rate.source.name }}</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                        <td>{{ rate.created }} UTC</td>
                        {% if user.is_authenticated %}
                            <td>
                                <div>
                                    <a class="edit" href="{% url 'rate_update' rate.id %}">Edit</a>
                                    <base>
                                    |</base>
                                    <a class="delete" href="{% url 'rate_delete' rate.id %}">Delete</a>
                                </div>
                            </td>
                        {% endif %}
                    </tr>

                {% endfor %}
                </tbody>
            </table>

        </div>

    {% else %}


        <div class="alert alert-info" role="alert">
            Table is empty
        </div>

    {% endif %}

    {% if user.is_authenticated %}
        <a href="{% url 'rate_create' %}">
            <button type="button" id="new-contact" class="btn btn-primary btn-lg">
                Add Rate
            </button>
        </a>
    {% endif %}

    {% include "currency/includes/pagination.html" %}


{% endblock content %}