{%extends 'currency/base.html'%} 
{% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static 'currency/css/contact_create.css' %}" />
{% endblock%} 
{% load crispy_forms_tags %} 

{%block title%}Delete Rate{%endblock title%}

{% block content %}

<div class="header">
  <h1>Are you sure you want to DELETE Rate <br> 
    with parameters: currrency: <b>{{rate.currency}}</b>; buy/sell:
    <b>{{rate.buy}}/{{rate.sell}}</b>?</h1>
</div>

<div class="form-delete">
  <form method="post">
    {% csrf_token %}
    <button type="submit" id="yes-delete" class="btn btn-outline-success btn-lg">Yes</button>
    <a href="{% url 'rates_table' %}" class="btn btn-outline-danger btn-lg">No</a>
  </form>
</div>

{%endblock content%}