{%extends 'currency/base.html'%}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'currency/css/contacts.css' %}">
{% endblock%}

{% block content %}

<div class="header">
    <h1>Rates Table</h1>
</div>

{% if rates|length > 0 %}

<div class="table-div">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Currency</th>
                <th scope="col">Buy</th>
                <th scope="col">Sell</th>
                <th scope="col">Source</th>
                <th scope="col">Created</th>
            </tr>
        </thead>
        <tbody>

            {% for rate in rates %}

            <tr>
                <th scope="row">{{rate.id}}</th>
                <td>{{rate.currency}}</td>
                <td>{{rate.buy}}</td>
                <td>{{rate.sell}}</td>
                <td>{{rate.source}}</td>
                <td>{{rate.created}} UTC</td>
                <td>
                    <div>
                  <a class="edit" href="{% url 'rate_update' rate.id %}">Edit</a>
                  <base>|</base>
                  <a class="delete" href="#">Delete</a>
                </div>
                </td>
                
            </tr>

            {% endfor %}
        </tbody>
    </table>

</div>

{% else %}


<div class="alert alert-info" role="alert">
    Table is empty
</div>

{% endif %}
<a href="{% url 'rate_create' %}"><button type="button" id="new-contact" class="btn btn-primary btn-lg">
    Add Rate
</button></a>



{%endblock content%}